name: project-temp

services:
  project-temp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: project-temp
    volumes:
      - ./:/workspace
    ports:
      - 8000:8000
